body {
    background-color: lightgrey;
    color: darkred;
    text-align: center;
}
H1{
    font-size: 50px;
}
.fancy{
    font-family:cursive;
    font-style:bold;
}
#uhoh{
    font-family:cursive;
    font-style:italic;
}
p.fancy{
    font-size:10px;
}